.menu{
    list-style-type: none;
    padding: 0 10px;
}
.menu li{
    margin: 4px 0;
    border-radius: 6px;
}
.menu li a{
    font-size: 14px;
    font-weight: bold;
    display: block;
    border-radius: 6px;
    padding: 4px 64px 4px 8px;
    color: rgb(56,56,56);
    text-decoration: none;
}
.menu li:hover, .menu li a.active{
    background-color: rgb(227 227 227/1);
}